{{>layouts/header}}
<table class="table">
    <thead>
    <tr>
        <th scope="col">글 번호</th>
        <th scope="col">제목</th>
        <th scope="col">내용</th>
    </tr>
    </thead>
    <tbody>
    {{#articleList}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/articles/{{id}}">{{title}}</a></td>
            <td>{{content}}</td>
        </tr>
    {{/articleList}}
    </tbody>
</table>
<input type="button" value="글 작성" onclick="newPost();" class="btn btn-outline-success">
<table class="table table-hover">

</table>
{{>layouts/footer}}
<script !src="">
    function newPost(){
        location.href = "articles/new";
    }
</script>
