{{>layouts/header}}
<form action="create" method="post">
    <input type="text" name="title" class="form-control">
    <textarea name="content" id="" cols="30" rows="10" class="form-control"></textarea>
    <input type="submit" value="글 쓰기" class="btn btn-outline-success">
</form>
{{>layouts/footer}}